body {
    margin: 2rem 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

main {
    max-width: 720px;
    margin: auto;
}

section {
    margin-bottom: 3rem;
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
}